name: Test

on: push

jobs:
  test:
    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v1
      - name: Test on ${{ matrix.os }}
        id: comment
        uses: ./
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: "${{ matrix.os }} OK"
          fingerprint: <!-- ${{ github.sha }} -->
      - run: echo outputs.url=${{ steps.comment.outputs.url }}
